* {
	margin: 0;
	padding: 0;
}
body {
	margin: 40px;
}
.grid-rule {
	width: 580px;
	height: 580px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(https://codingstartup.com/assets/grid/grid-ruler.png);
	background-size: 580px 580px;
}
.grid-container {
	display: grid;
	background: #aaa;
	width: 500px;
	height: 500px;
	grid-template-columns: 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px 100px;
}
.cell1 {
	background: red;
	grid-row: 1 / 4;
	grid-column: 1 / 3;
}
.cell2 {
	background: green;
	grid-row: 4 / 6;
	grid-column: 3 / 6;
}
