* {
	margin: 0;
	padding: 0;
}
body {
	margin: 40px;
}
.grid-rule {
	width: 580px;
	height: 580px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(https://codingstartup.com/assets/grid/grid-ruler.png);
	background-size: 580px 580px;
}
.grid-container {
	display: grid;
	background: #aaa;
	width: 500px;
	height: 500px;
	grid-template-columns: [x1] 100px [x2] 100px [x3] 100px [x4] 100px [x5] 100px [x6];
	grid-template-rows: [y1] 100px [y2] 100px [y3] 100px [y4] 100px [y5] 100px [y6];
}
.cell1 {
	background: red;
	grid-row: y1 / y4;
	grid-column: x1 / x3;
}
.cell2 {
	background: green;
	grid-row: y4 / y6;
	grid-column: x3 / x6;
}
